:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #ecf0f1;
    --text-color: #34495e;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

.season-info {
    display: flex;
    align-items: center;
}

.ipl-logo {
    height: 85px; /* Adjust as needed */
    margin-right: 17px;
}

.season-text {
    font-weight: bold;
    color: white;
    margin-right: 13px;
    font-size: 25px
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    width: 100px;  /* Adjust as needed */
    height: 100px;  /* Adjust as needed */
    margin-right: 1rem;
}

.logo-title h1 {
    margin: 0;
    color: #fff;  /* Adjust color as needed */
}

/* Navigation Styles */
nav {
        position: absolute;  /* Add this */
    left: 50%;  /* Add this */
    transform: translateX(-50%);  /* Add this */

    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
}
/* Navigation Styles end */


.title {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Table Styles */
table {
    font-size: 12px;
    width: 100%;
    text-align: center;
    max-width:250px;
}

th, td {
  padding: 4px 8px;
  vertical-align: middle;
  white-space: nowrap;

}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


.player-cell {
  width: 200px; /* Adjust this width as needed */
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
  text-align: center; /* Add this line */
    transition: all 0.3s ease;
}

.player-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
    transition: all 0.3s ease;
}

.player-name {
  flex-grow: 1;
  text-align: center;
    transition: all 0.3s ease;
}

tr:hover .player-cell .player-info {
    transform: scale(1.05);
}

tr:hover .player-cell .player-image {
    width: 70px;
    height: 70px;
}

tr:hover .player-cell .player-name {
    font-weight: bold;
}




.team-cell {
  text-align: center; /* Add this line */
}

.team-cell a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
}

.team-cell a:hover {
  text-decoration: underline;
}

.team-logo-small {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  flex-shrink: 0;
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}
.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: var(--primary-color);
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.filters {
    margin-bottom: 20px;
    text-align: center
}

.filters input, .filters select {
    padding: 5px;
    margin-right: 10px;
}

#clear-filters {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clear-filters:hover {
    background-color: #e0e0e0;
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable:hover {
    background-color: #2980b9;
}

.player-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%; /* Make the link take full width of the cell */
}
.player-link:hover {
    text-decoration: underline;
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable:hover {
    background-color: #2980b9;
}

.sortable .header-text,
.sortable .sort-indicator {
    display: inline-block;
}

.sortable .sort-indicator {
    margin-left: 5px;
}

.team-cell {
    text-align: left;
    padding: 5px 10px;
}

.team-info {
    display: flex;
    align-items: center;
}

.team-logo-small {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.team-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
