/* Global Styles */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #ecf0f1;
    --text-color: #34495e;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: var(--secondary-color);
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    padding: 15px;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.top-right {
    grid-column: 2;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
}

/* Section Styles */
.section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* Player Stats Section */
#player-stats-section {
    padding: 10px;
}

#player-stats {
    margin-bottom: 0;
}

#player-stats .tab-content {
    overflow-x: auto;
}

#player-stats table {
    width: auto;
    margin-bottom: 20px;
}

#player-stats th,
#player-stats td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

#player-stats .player-cell {
    width: auto;
    max-width: 200px;
}

#player-stats .team-cell {
    width: auto;
    max-width: 150px;
}

/*availbility*/


/* Lower Left Section */
#lower-left-section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
}

#fixtures, #standings {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

/* Fixtures Section */


#fixtures-content table {
     padding: 10px;
}

#fixtures h2 {
    margin-bottom: 5px;
}

#fixtures .dropdown {
    margin-bottom: -12px;
}

#fixtures-content th, #fixtures-content td {
    padding: 2px 4px;
}

#fixtures-content th {
    background-color: var(--primary-color);
    color: white;
}

#fixtures-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

#fixtures-content tr:hover {
    background-color: #ddd;
}



/* Table Styles */

#standings {
    padding: 10px;
}

table {
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}

th, td {
    padding: 4px 8px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Dropdown Styles */
.dropdown {
    margin-bottom: 5px;
}

select {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Highlight Styles */
.highlight-green {
    background-color: rgba(40, 167, 69, 0.2) !important;
}

.highlight-green td:first-child {
    border-left: 4px solid #28a745;
}

.highlight-red {
    background-color: rgba(220, 53, 69, 0.2) !important;
}

.highlight-red td:first-child {
    border-left: 4px solid #dc3545;
}

/* Player and Team Cell Styles */
.player-cell {
    width: 200px;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.player-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-cell a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.team-cell a:hover {
    text-decoration: underline;
}

.team-logo-small {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    flex-shrink: 0;
}

.team-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Tab Styles */
.full-ranking {
    background-color: #af4c4f; /* Green background */
    color: white; /* White text */
    padding: 6px;
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer cursor on hover */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adds a shadow for depth */
    font-weight: bold; /* Makes the text bold */
}


/* Hover effect */
.full-ranking:hover {
    background-color: #45a049; /* Darker green when hovered */
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs {
    text-align: center;
    margin-bottom: -11px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: var(--primary-color);
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


/* Responsive Design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .top-left, .top-right, .bottom-left {
        grid-column: 1;
    }

    .top-left {
        grid-row: 1;
    }

    .top-right {
        grid-row: 2;
    }

    .bottom-left {
        grid-row: 3;
    }

    .left-column, .right-column {
        width: 100%;
    }
}

#future-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#future-section .section {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #future-section .section {
    width: 100%;
  }
}

.main-tab-content {
    display: none;
}

.main-tab-content.active {
    display: block;
}

.sub-tab-content {
    display: none;
}

.sub-tab-content.active {
    display: block;
}

.main-tabs {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.main-tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 14px;
}

.main-tab-button:hover {
    background-color: #ddd;
}

.main-tab-button.active {
    background-color: #3498db;
    color: white;
}

.sub-tabs {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.sub-tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 14px;
    transition: 0.3s;
    font-size: 12px;
}

.sub-tab-button:hover {
    background-color: #ddd;
}

.sub-tab-button.active {
    background-color: #3498db;
    color: white;
}

#future-section .tabs {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

#future-section .availability-tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 14px;
    transition: 0.3s;
    font-size: 12px;
}

#future-section .availability-tab-button:hover {
    background-color: #ddd;
}

#future-section .availability-tab-button.active {
    background-color: #3498db;
    color: white;
}

